
// Button Styles
.ButtonCTA(@cTAColor, @white) {
    border: 1px solid @cTAColor;
    background-color: @cTAColor;
    border-radius: 10px;
    color: @white;
    width: 20%;
    height: 45px;
    text-align: center;
    vertical-align: center;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: bold;
};

.Button(@featurebg, @textColor) {
    border: 1px solid @featurebg;
    background-color: @featurebg;
    border-radius: 10px;
    color: @textColor;
    width: 90%;
    height: 40px;
    text-align: center;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: bold;
};