
body {
    line-height: 1;
    margin-top: 20px;
    color: #353538;
}

/* * {
    box-sizing: border-box;
} */

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 100%;
    margin: 0;
}

@media(max-width:500px){
    .container{
        width: 100%;
        margin: 0;
    }
}



.navigation{
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

@media(max-width: 800px){
    .navigation{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

nav{
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 800px){
    nav{
        width: 50%;
        justify-content: 
    }
}


nav a{
    /* padding-left: 70px; */
    text-decoration: none;
    color: #e5106c;
    font-family: 'Josefin Sans', sans-serif;
}

@media(max-width: 800px){
    nav a{
        padding: 0;
        width: 100%;
        justify-content: space-evenly
    }
}

.aboutUs{
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 10px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
}

@media(max-width: 500px){
    .aboutUs{
        width: 450px;
    }
}

.left{
    display: flex;
    text-align: center;
    background-color: #f9cfe1;
    padding: 2%;
    opacity: 0.75;
    border-radius: 2rem;
    width: 90%;
    /* margin-left: 4%; */
    
}

@media(max-width: 500px){
    .left{
        flex-direction: column; 
        margin: 7% 0 7% 7%;
        width: 80%;

    }
}

.right{
    display: flex;
    text-align: center;
    background-color: #8d99ae;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 2%;
    opacity: 0.75;
    border-radius: 2rem;
    width: 90%;
    /* margin-left: 4%; */

}
@media(max-width: 500px){
    .right{
        flex-direction: column-reverse; 
        width: 80%;
        margin: 7% 0 7% 7%;
    }
}


.left p{
    text-align: center;
    padding: 10% 0 10% 10%;
    font-family: 'Josefin Sans', sans-serif;
}

@media(max-width: 500px){
    .left p{
        text-align: center;
        padding: 10% 10%10% 10%;
        font-family: 'Josefin Sans', sans-serif;
    }
}



.right p{
    text-align: center;
    padding: 10% 10% 10% 0;
    font-family: 'Josefin Sans', sans-serif;
}

@media(max-width: 500px){
    .right p{
        text-align: center;
        padding: 10% 10%10% 10%;
        font-family: 'Josefin Sans', sans-serif;
    }
}



.right h3{
    font-family: 'Elsie', cursive;
}

.left h3{
    font-family: 'Elsie', cursive;
}

.contactInfo{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

.contactInfo h3{
    font-family: 'Josefin Sans', sans-serif;
}


.gitHub{
    text-decoration: none;
    margin-left: 2rem;
    color: #e5106c;
}

.linkedInLeft{
    text-decoration: none;
    color: #e5106c;
}




/* nav */