
.wrapper {
    margin: 100px auto 0;
    width: 95%;
  };

.section1 {
    width: 95%;
    height: auto;
    margin: 50px auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid @featurebg;

    img {
        width: 45%;
        height: auto;
        border-radius: 20px;

        @media @mobile {
            width: 100%;
            margin-bottom: 30px;
        };
    };

    div {
        width: 45%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // background-color: @accentColor;
        // border-radius: 20px;


        p {
            line-height: 1.5;

        };

        @media @tablet {
            justify-content: space-around;
            height: 300px;
        };

        @media @mobile {
            width: 100%;
        };
    };

    @media @mobile {
        flex-direction: column;
        padding-bottom: 50px;
    };
};

.section2 {
    display: flex;
    flex-direction: column;
    width: 95%;
    // height: 800px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid @featurebg;

    .features {
        width: 50%;
        text-align: center;
        margin-bottom: 50px;

        @media @tablet {
            width: 75%;
        };

        @media @mobile {
            width: 100%;
        };
    };

    h2 {
        margin-bottom: 50px;
    };

    .columns {
        width: 95%;
        height: auto;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-around;
        align-items: space-around;
        flex-wrap: wrap;

        div {
            width: 25%;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 10px;
            text-align: center;

            img {
                width: 30%;
                height: auto;
                border-radius: 50px;
            };

            .pink {
                background-color: @accentColor;
            };

            .blue {
                background-color: @featurebg;
            };

            @media @tablet {
                width: 45%;
            };

            @media @mobile {
                width: 80%;

                p {
                    display: none;
                };

                h3:hover {
                    background-color: @accentColor;
                    cursor: pointer;
                    border-radius: 10px;
                };
    
                .activeTitle {
                    text-decoration-color: @featurebg;
                };
            
                .activeItem {
                    display: flex;
                };
            };
        };
    };
};